version: '3.8'
services:
  qdrant:
    image: qdrant/qdrant:latest
    restart: always
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_data_nfs:/qdrant/storage
    networks:
      - traefik-public
    deploy:
      replicas: 1
      placement:
        constraints: []
      labels: {}

networks:
  traefik-public:
    external: true

volumes:
  qdrant_data_nfs:
    external: true