services:
  portainer:
    image: portainer/portainer-ce:latest
    command:
      - --tlscacert=/certs/ca.pem
      - --tlscert=/certs/tls-cert.pem
      - --tlskey=/certs/tls-key.pem
      - --tlsverify
      - --http-disabled
    environment:
      - HTTPS_PROXY_CLIENT_CERT=/run/secrets/portainer_client_cert
      - HTTPS_PROXY_CLIENT_KEY=/run/secrets/portainer_client_key
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
      - /mnt/stacks:/stacks
    ports:
      - target: 8000
        published: 8000
        protocol: tcp
        mode: ingress
      - target: 9000
        published: 9000
        protocol: tcp
        mode: ingress
      - target: 9443
        published: 9443
        protocol: tcp
        mode: ingress
    networks:
      - traefik-public
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      labels: {}
    secrets:
      - portainer_admin_password
      - source: portainer_tls_ca.pem
        target: /certs/ca.pem
        mode: 0644
      - source: portainer_tls_cert.pem
        target: /certs/tls-cert.pem
        mode: 0644
      - source: portainer_tls_key.pem
        target: /certs/tls-key.pem
        mode: 0600
      - portainer_client_cert
      - portainer_client_key

networks:
  traefik-public:
    external: true

volumes:
  portainer_data: {}

secrets:
  portainer_admin_password:
    external: true
  portainer_tls_ca.pem:
    external: true
  portainer_tls_cert.pem:
    external: true
  portainer_tls_key.pem:
    external: true
  portainer_client_cert:
    external: true
  portainer_client_key:
    external: true