version: '3.8'
services:
  thinkheads_ai_app:
    image: thinkheads_ai_app:latest
    container_name: thinkheads_ai_app
    ports:
      - "${API_PORT}:${API_PORT}"
    volumes:
      - thinkheads_ai_app_data_nfs:/app
    restart: unless-stopped
    deploy:
      replicas: 1
      placement:
        constraints: []
    environment:
      - API_PORT=${API_PORT}

volumes:
  thinkheads_ai_app_data_nfs:
    external: true