[Unit]
Description=RAG API Orchestrator (FastAPI)

[Service]
# User=rag_user
WorkingDirectory=/opt/rag_api/rag_api
Environment="QDRANT_HOST=localhost"
Environment="EMBEDDING_URL=http://localhost:8001/v1"
ExecStart=/opt/rag_api/venv/bin/uvicorn main:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target