services:
  portainer:
    build: .
    command: -H unix:///var/run/docker.sock --tlsverify --tlscert /certs/cert.pem --tlskey /certs/key.pem --tlscacert /certs/ca.pem
    container_name: portainer_server
    dns:
      - 10.0.0.13
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
      - ./certs:/certs
    ports:
      - "9000:9000"
      - "9443:9443"
    restart: always
    networks:
      - portainer_network

volumes:
  portainer_data:

networks:
  portainer_network:
    driver: bridge