version: '3.8'
services:
  thinkheads_ai_app:
    image: thinkheads_ai_app:latest
    container_name: thinkheads_ai_app
    ports:
      - "${API_PORT}:${API_PORT}"
    volumes:
      - .:/app
    restart: unless-stopped
    environment:
      - API_PORT=${API_PORT}